

<div class="container">
	<div class="row">
		<nav class="col-xs-12 navbar-inverse margin-inverse" role="navigation">
			<div class="container">
				<%= render partial: current_user ? "/shared/welcome_user_nav" : "/shared/welcome_non_user_nav" %>
			</div>
		</div>
	</div>
</div>



<script src="http://malsup.github.com/jquery.cycle2.js"></script>
<!-- ////////// ROW 1 ////////// -->
<div class="container all-tiles">
	<div class="row">
		<div class="col-xs-1 cycle-slideshow" data-cycle-timeout=<%= (rand(2000)+1500) %>>
			<img class="img-responsive" src="http://www.rollingstones.su/upload/Image/Discography/Rolling-Stones-The-Rolling-Stone-375611.jpg">
			<img src="http://media-cache-ak0.pinimg.com/736x/80/6a/35/806a35ec6d5129dfae5571f151c796e3.jpg">
			<img src="http://musictea.org/assets/img/c/18431ignite_cover.jpg">
		</div>
		<div class="col-xs-1 cycle-slideshow" data-cycle-timeout=<%= (rand(2000)+1500) %>>
			<img src="http://ecx.images-amazon.com/images/I/415H8ZF6M9L.jpg">
			<img src="http://www.nerdsattack.net/wp-content/uploads/2014/01/souvlaki.jpg">
			<img src="http://musicalpearls.vlsweb.net.br/wp-content/uploads/2014/06/Cover17-300x300.jpg">
		</div>
		<div class="col-xs-1 cycle-slideshow" data-cycle-timeout=<%= (rand(2000)+1500) %>>
			<img src="http://ecx.images-amazon.com/images/I/51UVX5HKIiL.jpg">
			<img src="http://cdn2.thelineofbestfit.com/media/2012/10/halls-ark.jpg">
			<img src="http://assets.gcstatic.com/u/apps/asset_manager/uploaded/2012/31/ellie-goulding-halcyon-album-cover-1343649813-custom-0.jpg">
		</div>
		<div class="col-xs-1 cycle-slideshow" data-cycle-timeout=<%= (rand(2000)+1500) %>>
			<img src="http://1.bp.blogspot.com/_oS4Gn4JivNY/THRsIooMA0I/AAAAAAAAACY/v4k8QsrlP-8/s1600/joy_division-substance_album_cover.jpg">
			<img src="http://ecx.images-amazon.com/images/I/41RG0BWM1EL._SX300_.jpg">
			<img src="http://thefirenote.com/wp-content/uploads/2014/01/warpaint-cover.jpg">
		</div>
		<div class="col-xs-1 cycle-slideshow" data-cycle-timeout=<%= (rand(2000)+1500) %>>
			<img src="http://cdn.idolator.com/wp-content/uploads/2013/07/04/jay-z-magna-carta-holy-grail-album-cover-art-400x400.jpg">
			<img src="http://ecx.images-amazon.com/images/I/41Z+tJHhs7L.jpg">
			<img src="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2014/6/10/1402400383506/hell.png">
		</div>
		<div class="col-xs-1 cycle-slideshow" data-cycle-timeout=<%= (rand(2000)+1500) %>>
			<img src="http://ecx.images-amazon.com/images/I/51F8RRK2bmL.jpg">
			<img src="http://0.tqn.com/d/80music/1/S/6/B/-/-/echosongs.jpg">
			<img src="http://farm4.static.flickr.com/3531/3880598478_a43bc508fa_o.jpg">
		</div>
		<div class="col-xs-1 cycle-slideshow" data-cycle-timeout=<%= (rand(2000)+1500) %>>
			<img src="http://www.twangnation.com/blog/http://example.com/uploads/2014/05/willie-nelson-album-2014-band-of-brothers.jpg">
			<img src="http://ecx.images-amazon.com/images/I/31VKTium+wL.jpg">
			<img src="http://www.rockonchicago.com/tristan/album10/cover107.jpg">
		</div>
		<div class="col-xs-1 cycle-slideshow" data-cycle-timeout=<%= (rand(2000)+1500) %>>
			<img src="http://a2.mzstatic.com/us/r30/Features/5b/61/7d/dj.bbsvvfpr.600x600-75.jpg">
			<img src="http://media-cache-ak0.pinimg.com/736x/3b/f8/8c/3bf88cb3fcf17b66520f533e682c5e2f.jpg">
			<img src="http://diskunion.net/jazz/st/images/JZ121119-04_1.jpg">
		</div>
		<div class="col-xs-1 cycle-slideshow" data-cycle-timeout=<%= (rand(2000)+1500) %>>
			<img src="http://s.cdon.com/media-dynamic/images/product/00/00/07/43/98/3/342fd48e-0533-4178-904b-77809da5d49d.jpg">
			<img src="http://a4.mzstatic.com/us/r30/Music6/v4/04/19/d7/0419d75a-88cd-10ab-6753-c8abb6b33ace/016351541826.170x170-75.jpg">
			<img src="https://s3.amazonaws.com/cdn01.mishkanyc.com/sites/default/files/uploads/2012/04/theraveonettes.jpeg">
		</div>
		<div class="col-xs-1 cycle-slideshow" data-cycle-timeout=<%= (rand(2000)+1500) %>>
			<img src="http://upload.wikimedia.org/wikipedia/en/thumb/4/4f/Marc_Anthony_You_Sang_to_Me_single.jpg/220px-Marc_Anthony_You_Sang_to_Me_single.jpg">
			<img src="http://991.com/gallery_180x180/Pet-Shop-Boys-PopArt-The-Hits--493011-991.jpg">
			<img src="http://www.israbox.com/uploads/posts/2012-10/1349815301_cover.jpg">
		</div>
		<div class="col-xs-1 cycle-slideshow" data-cycle-timeout=<%= (rand(2000)+1500) %>>
			<img src="http://coolalbumreview.com/wp-content/uploads/2011/02/Jeff-Buckley_grace.jpg">
			<img src="http://photo.sing365.com/music/picture.nsf/Morrissey-Bona-Drag-Cover/48256C71003578A2482568AB0033DF96/$file/Bona+Drag.jpg">
			<img src="http://cdn.stereogum.com/files/2014/09/CT212-Medicine-Cover_1400-608x608.jpg">
		</div>
		<div class="col-xs-1 cycle-slideshow" data-cycle-timeout=<%= (rand(2000)+1500) %>>
			<img src="http://upload.wikimedia.org/wikipedia/en/7/7e/NewOrderPower%2CCorruption%26Lies.jpg">
			<img src="http://ecx.images-amazon.com/images/I/51XdarGcy4L.jpg">
			<img src="http://media-cache-ak0.pinimg.com/736x/1d/fe/02/1dfe021315031c5f58490d7e86284730.jpg">
		</div>
	</div>
</div>



<!-- ////////// ROW 2 ////////// -->
<div class="container all-tiles">
	<div class="row">
		<div class="col-xs-1 cycle-slideshow" data-cycle-timeout=<%= (rand(2000)+1500) %>>
			<img class="img-responsive" src="http://1.bp.blogspot.com/-002yi8qjEqc/ThVsoykQ9ZI/AAAAAAAAAj4/gf965sDFJUE/s1600/beyonce-4-cover-album.jpg">
			<img src="http://2.bp.blogspot.com/_6lV5hzNR1fU/SuMFnu5-U0I/AAAAAAAAGMI/dQ2G_8SkGC4/s400/Sans+titre+9.jpeg">
			<img src="http://static.djbooth.net/pics-tracks/drake-girlsloveb.jpg">
		</div>
		<div class="col-xs-1 cycle-slideshow" data-cycle-timeout=<%= (rand(2000)+1500) %>>
			<img src="http://www.musicline.de/cover/Nirvana_Live+At+Reading_602527203676.jpg">
			<img src="http://cover6.cduniverse.com/muzeaudioart/large/15/570415.jpg">
			<img src="http://upload.wikimedia.org/wikipedia/en/1/1d/Sade_-_Kiss_Of_Life_single_cover.jpg">
		</div>
		<div class="col-xs-1 cycle-slideshow" data-cycle-timeout=<%= (rand(2000)+1500) %>>
			<img src="http://s.cdon.com/media-dynamic/images/product/001/880/1880557.jpg">
			<img src="http://991.com/newGallery/Johnny-Cash-Ring-Of-Fire---Th-351307.jpgamp">
			<img src="http://media-cache-ec0.pinimg.com/736x/a9/59/eb/a959eb81688084a7d0ccdbc17656dcc9.jpg">
		</div>
		<div class="col-xs-1 cycle-slideshow" data-cycle-timeout=<%= (rand(2000)+1500) %>>
			<img src="http://3.bp.blogspot.com/_IDtn1DCFCqU/SLNTCMf5L5I/AAAAAAAABZQ/H9gb7ny_L5U/s400/interpol+album+cover.jpg">
			<img src="http://www.videos-musicales.net/img_videos/Nirvana---Breed.jpg">
			<img src="http://stereoklang.se/blog/wp-content/uploads/august19072014.jpg">
		</div>
		<div class="col-xs-1 cycle-slideshow" data-cycle-timeout=<%= (rand(2000)+1500) %>>
			<img src="https://fanart.tv/detailpreview/fanart/music/94b0fb9d-a066-4823-b2ec-af1d324bcfcf/albumcover/white-lightwhite-heat-5375fadb6f1be.jpg">
			<img src="http://www.dustygroove.com/images/products/v/velvetunder_vervemgma_101b.jpg">
			<img src="http://images.picturesdepot.com/photo/t/the_velvet_underground_album_cover-28144.jpg">
		</div>
		<div class="col-xs-1 cycle-slideshow" data-cycle-timeout=<%= (rand(2000)+1500) %>>
			<img src="http://2.bp.blogspot.com/_mupIVJbjvuU/THW-MmpU4NI/AAAAAAAAGOU/TNUMTLeo6ZE/s1600/Pink%2BFriday%2B(FanMade%2BAlbum%2BCover).jpg">
			<img src="http://ecx.images-amazon.com/images/I/41WKd4doJrL.jpg">
			<img src="http://1.bp.blogspot.com/-fb8nvgW4ybg/UHqTPn8ZPxI/AAAAAAAAJdQ/xS7pIRoZOXs/s1600/Sans+titre+81.jpeg">
		</div>
		<div class="col-xs-1 cycle-slideshow" data-cycle-timeout=<%= (rand(2000)+1500) %>>
			<img src="http://cdnimg.visualizeus.com/thumbs/0d/e7/1950s,jazz,record,retro-0de7c7651e7ac1cef6e859cbbe2e7b11_h.jpg">
			<img src="http://images.uulyrics.com/cover/c/chet-baker/album-embraceable-you.jpg">
			<img src="http://media-cache-ak0.pinimg.com/736x/ab/33/25/ab3325d677d5edcc53f4ce1e025df2e4.jpg">
		</div>
		<div class="col-xs-1 cycle-slideshow" data-cycle-timeout=<%= (rand(2000)+1500) %>>
			<img src="http://3.bp.blogspot.com/-hG50pt2T0DY/Taahgi8g4GI/AAAAAAAAAr0/Vq_yYVzvzMU/s1600/The-Smiths-cover.png">
			<img src="http://3.bp.blogspot.com/_WJfiqEoMhmM/TNgolGo2asI/AAAAAAAAAT4/XlUenOj9Xwo/s1600/smithsea8.jpg">
			<img src="http://joymachine.typepad.com/northern_planner/images/2007/09/10/5">
		</div>
		<div class="col-xs-1 cycle-slideshow" data-cycle-timeout=<%= (rand(2000)+1500) %>>
			<img src="http://ecx.images-amazon.com/images/I/51FcsXcjtML.jpg">
			<img src="http://3.bp.blogspot.com/_Vse_BABM9kQ/TA1J8z60ATI/AAAAAAAAAII/8qHu4qBQOAQ/s1600/mos-def-mos-def-ep-album-cover-47407.jpeg">
			<img src="http://endlessblue.com/wp-content/uploads/2012/03/MosbyCover.jpg">
		</div>
		<div class="col-xs-1 cycle-slideshow" data-cycle-timeout=<%= (rand(2000)+1500) %>>
			<img src="http://www.brooklynvegan.com/img/music2/asunnydayinglasgowcover.jpg">
			<img src="http://a2.mzstatic.com/us/r30/Music/20/a1/f2/mzi.vhrxjjqa.1200x1200-75.jpg">
			<img src="http://sideonetrackone.com/wp-content/uploads/2014/04/A-Sunny-Day-In-Glasgow-Cover.jpg">
		</div>
		<div class="col-xs-1 cycle-slideshow" data-cycle-timeout=<%= (rand(2000)+1500) %>>
			<img src="http://3.bp.blogspot.com/-XRY6lzDXCSI/T25Wrip6t8I/AAAAAAAAOJw/IgJVf68UkNE/s1600/Wit%27s+End+2011+cover.jpg">
			<img src="http://upload.wikimedia.org/wikipedia/en/thumb/5/50/Dreams_Come_True_Girl_Cover.jpg/220px-Dreams_Come_True_Girl_Cover.jpg">
			<img src="http://2.bp.blogspot.com/-V1AzZhwQasA/Tv0pxmSN4dI/AAAAAAAAAwU/aqDAzyJq8Z4/s1600/Wye+Oak-Civilian-Cover.jpg">
		</div>
		<div class="col-xs-1 cycle-slideshow" data-cycle-timeout=<%= (rand(2000)+1500) %>>
			<img src="http://upload.wikimedia.org/wikipedia/en/thumb/1/1c/Cut_Copy_-_Zonoscope.png/220px-Cut_Copy_-_Zonoscope.png">
			<img src="http://lapiscinavacia.files.wordpress.com/2009/12/cutcopy.jpg">
			<img src="http://farm4.staticflickr.com/3101/2323670778_84b011309b.jpg">
		</div>
	</div>
</div>



<!-- ////////// MIDDLE STACKED ROW SEARCH BAR ////////// -->
<div class="container all-tiles">
	<div class="row">
		<div class="col-xs-1 stack">
			<div class="cycle-slideshow" data-cycle-timeout=<%= (rand(2000)+1500) %>>
				<img src="http://media-cache-ec0.pinimg.com/736x/34/ed/92/34ed92b14931d668530ac7072f843c16.jpg">
				<img src="http://upload.wikimedia.org/wikipedia/en/f/f8/Nena_-_It's_All_In_The_Game_-_Cover.jpg">
				<img src="http://media-cache-ec0.pinimg.com/736x/9b/d6/64/9bd6644b51d9a895ff0fa6ab58e85184.jpg">
			</div>
			<div class="cycle-slideshow" data-cycle-timeout=<%= (rand(2000)+1500) %>>
				<img src="http://3.bp.blogspot.com/_2jFUFeY-Gzk/TH6RV_FbBPI/AAAAAAAAAew/UcfyfbFI-tI/s1600/1988+-+Daydream+Nation.jpg">
				<img src="http://cdn.stereogum.com/files/2012/09/SonicYouth.jpg">
				<img src="http://ecx.images-amazon.com/images/I/51AumjQijFL.jpg">
			</div>
			<div class="cycle-slideshow" data-cycle-timeout=<%= (rand(2000)+1500) %>>
				<img src="http://media-cache-ec0.pinimg.com/736x/56/9e/9f/569e9fb320f0fc8cdcb362550b7587f9.jpg">
				<img src="http://www.copertinedvd.org/copertine-cd-file/D/dizzy_gillespie_-_afro_-_front.jpg">
				<img src="http://ecx.images-amazon.com/images/I/41bkUOjcA2L.jpg">
			</div>
		</div>
		<div class="col-xs-1 stack">
			<div class="cycle-slideshow" data-cycle-timeout=<%= (rand(2000)+1500) %>>
				<img class="img-responsive" src="http://ecx.images-amazon.com/images/I/51azvwquYjL.jpg">
				<img src="http://www.okayplayer.com/wp-content/uploads/2013/04/prince-2013.jpg">
				<img src="http://lh3.ggpht.com/-wbb_1KhvEHk/SlKIrZeHhSI/AAAAAAAAC4s/zVX1x1A-kfM/413.jpg">
			</div>
			<div class="cycle-slideshow" data-cycle-timeout=<%= (rand(2000)+1500) %>>
				<img src="http://media-cache-ak0.pinimg.com/736x/81/04/9d/81049d3789afb90d5fb84addb072df66.jpg">
				<img src="http://ecx.images-amazon.com/images/I/6105K4FMsWL.jpg">
				<img src="http://ecx.images-amazon.com/images/I/41EDY9P1EAL.jpg">
			</div>
			<div class="cycle-slideshow" data-cycle-timeout=<%= (rand(2000)+1500) %>>
				<img src="http://media-cache-ec0.pinimg.com/736x/b3/6f/ff/b36fff9bac7a845e460094b2270fcbc6.jpg">
				<img src="http://4.bp.blogspot.com/_ABbdoZOMtNs/S2jjgeng3JI/AAAAAAAAA7Q/4mFYl3YqMMY/s400/prospectTree.jpg">
				<img src="http://nefariousrealm.com/homenew/wp-content/uploads/2013/05/True-Widow-Circumambulation-album-cover-art-300x300.jpg">
			</div>
		</div>
		<div class="col-xs-8 stack">
			<div>
				<h2 class="text-center welcome-text">Discover your favorite artists... &nbsp;&nbsp;&nbsp;again.</h2>
			</div>
<<<<<<< HEAD
			<div closs="welcome-form">
				<form role="form" action="/artist" method="get" id="search-form">
					<input type="text" class="form-control main-search-box search-font-color" name="query" placehoder="Search our mousic database!" id="query">
					<input type="submit" class="form-control main-submit-button" value="Search">
=======
			<div class="welcome-form">
				<form role="form" action="/artist" method="get">
					<input type="text" class="form-control main-search-box" name="query" placeholder="Search Artist or Band">
>>>>>>> aaron_monday_1544
				</form>
				<p id="search-error-msg">
				</p>
			</div>
		</div>







		<div class="col-xs-1 stack">
			<div class="cycle-slideshow" data-cycle-timeout=<%= (rand(2000)+1500) %>>
				<img src="http://media-cache-ec0.pinimg.com/736x/cb/bb/3b/cbbb3bc0fd3dcccf12168f02b441b3d8.jpg">
				<img src="http://www.soundsbetterwithreverb.com/wp-content/uploads/2013/04/splashh-all-i-wanna-do-400x400.jpg">
				<img src="http://www.ondarock.it/images/cover/My_Bloody_Valentine_1360147602.jpg">
			</div>
			<div class="cycle-slideshow" data-cycle-timeout=<%= (rand(2000)+1500) %>>
				<img src="http://lowereastblog.files.wordpress.com/2012/08/dorhambohemia.jpg?w=545">
				<img src="http://www.jazz.com/assets/2007/12/20/albumcoverBlueTrain.jpg">
				<img src="http://i834.photobucket.com/albums/zz265/GuildedPalace/Vintage%20Jazz%20Album%20Covers/abn4000277.jpg">
			</div>
			<div class="cycle-slideshow" data-cycle-timeout=<%= (rand(2000)+1500) %>>
				<img src="http://www.tensionwire.com/media/wysiwyg/Images/blog-images/punk-rock-album-art/discharge-cover.jpg">
				<img src="http://2.bp.blogspot.com/_ImoYkxfuoT8/S9lIlxeXB0I/AAAAAAAAANw/8bjXXzdEhic/s1600/Coverfront.jpg">
				<img src="http://media-cache-ak0.pinimg.com/736x/38/11/fb/3811fbfdd845045305ce21843b1ffd86.jpg">
			</div>
		</div>
		<div class="col-xs-1 stack">
			<div class="cycle-slideshow" data-cycle-timeout=<%= (rand(2000)+1500) %>>
				<img class="img-responsive" src="http://media-cache-ec0.pinimg.com/736x/72/87/7f/72877f398aa7bbbb783e8a0166f49e00.jpg">
				<img src="http://rockyourlyrics.com/wp-content/uploads/2013/01/the_cure.jpg">
				<img src="http://media-cache-ec0.pinimg.com/736x/c4/ba/02/c4ba026418f53d05f397307fb1e13f3c.jpg">
			</div>
			<div class="cycle-slideshow" data-cycle-timeout=<%= (rand(2000)+1500) %>>
				<img src="http://australiangothicindustrialmusic.com/bands/images/models-album-cover-melbourne.jpg">
				<img src="http://upload.wikimedia.org/wikipedia/en/thumb/f/f6/Stranglers_-_No_More_Heroes_album_cover.jpg/220px-Stranglers_-_No_More_Heroes_album_cover.jpg">
				<img src="http://images.uulyrics.com/cover/p/public-image-ltd/album-the-flowers-of-romance.jpg">
			</div>
			<div class="cycle-slideshow" data-cycle-timeout=<%= (rand(2000)+1500) %>>
				<img src="http://imados.fr/content/1/9/8/351988/Greatest-Hits_cover_s200.jpg">
				<img src="http://4.bp.blogspot.com/--rAYYyJBIEs/UHpYrVj67WI/AAAAAAAAAak/iI98-C_jALo/s1600/EnriqueIglesiasEuphoriaFanMade1400x400.png">
				<img src="http://4.bp.blogspot.com/-SHVfsvW0rxc/TnJyCHorb4I/AAAAAAAAL_Q/JDh6E-nE-UU/s400/Enrique-Iglesias-Ft.Pitbull-I-Like-How-It-Feels.jpg">
			</div>
		</div>
	</div>
</div>



<!-- ////////// ROW 4 ////////// -->
<div class="container all-tiles">
	<div class="row">
		<div class="col-xs-1 cycle-slideshow" data-cycle-timeout=<%= (rand(2000)+1500) %>>
			<img src="http://ecx.images-amazon.com/images/I/41EX2SEAJ6L.jpg">
			<img src="http://media-cache-ec0.pinimg.com/736x/fc/8c/04/fc8c04342d8da07b540410e1a3f337ed.jpg">
			<img src="http://ecx.images-amazon.com/images/I/51OGWCQoO2L.jpg">
		</div>
		<div class="col-xs-1 cycle-slideshow" data-cycle-timeout=<%= (rand(2000)+1500) %>>
			<img src="http://media-cache-ec0.pinimg.com/736x/66/ad/00/66ad00acc19b4ee3c387d15b19329617.jpg">
			<img src="http://media-cache-ak0.pinimg.com/736x/01/34/4a/01344ad8c0291d36ac40ae53b0116094.jpg">
			<img src="http://media-cache-ec0.pinimg.com/736x/c8/5c/44/c85c44d38a0c2a4c1ebed68e592aa173.jpg">
		</div>
		<div class="col-xs-1 cycle-slideshow" data-cycle-timeout=<%= (rand(2000)+1500) %>>
			<img src="http://media-cache-ec0.pinimg.com/736x/ce/7c/90/ce7c90bf5ce9f33df5989ecfa88904f7.jpg">
			<img src="http://media-cache-ak0.pinimg.com/736x/67/b9/44/67b94488585f0e5c147f8de9d8bf6e54.jpg">
			<img src="http://www.allcdcovers.com/image_system/images/4/9/495b239e1902b9942b45eea833de64c6.jpg">
		</div>
		<div class="col-xs-1 cycle-slideshow" data-cycle-timeout=<%= (rand(2000)+1500) %>>
			<img src="http://hiphop-n-more.com/wp-content/uploads/2013/04/ciara-album-cover-150x150.jpg">
			<img src="https://farm4.staticflickr.com/3023/2371766703_d3bd4d30fe_z.jpg">
			<img src="http://upload.wikimedia.org/wikipedia/en/thumb/0/06/EI-Addicted.jpg/220px-EI-Addicted.jpg">
		</div>
		<div class="col-xs-1 cycle-slideshow" data-cycle-timeout=<%= (rand(2000)+1500) %>>
			<img src="http://4.bp.blogspot.com/-GlsK4BQtGaE/TaS20QbwxKI/AAAAAAAAB84/Qqll-8XqChQ/s1600/cover.jpg">
			<img src="http://upload.wikimedia.org/wikipedia/en/2/2e/U2_War_album_cover.jpg">
			<img src="http://media-cache-ak0.pinimg.com/736x/c7/9d/5c/c79d5cb96ac8ac29360ef5fe903535d3.jpg">
		</div>
		<div class="col-xs-1 cycle-slideshow" data-cycle-timeout=<%= (rand(2000)+1500) %>>
			<img src="http://3.bp.blogspot.com/_yAlP-3Fkj3k/SxuiMlwTNOI/AAAAAAAAIdE/9bM4WbnTeNI/s800/Blue%2BNote%2B-Dexter%2BGordon%2BOur%2BMan%2Bin%2BParis.jpg">
			<img src="http://f1.bcbits.com/img/a3974019799_2.jpg">
			<img src="http://rymimg.com/lk/f/l/cab91a6a58e907c2357528d7b951db1f/2623279.jpg">
		</div>
		<div class="col-xs-1 cycle-slideshow" data-cycle-timeout=<%= (rand(2000)+1500) %>>
			<img src="http://ecx.images-amazon.com/images/I/51JqTHdjIbL.jpg">
			<img src="http://media-cache-ec0.pinimg.com/736x/42/a3/2e/42a32ed712a7cca163d3e270f879655b.jpg">
			<img src="http://a403.idata.over-blog.com/300x324/3/13/25/33/Nirvana_In_Utero_album_cover.jpg">
		</div>
		<div class="col-xs-1 cycle-slideshow" data-cycle-timeout=<%= (rand(2000)+1500) %>>
			<img src="http://www.examiner.com/images/blog/EXID21799/images/Tupac-Shakur(1).jpg">
			<img src="http://media-cache-ak0.pinimg.com/originals/7d/b8/de/7db8de08a5cb41b11749f37f7d8a3b6b.jpg">
			<img src="http://www.konbini.com/en/files/2014/10/cover-1-810x788.jpg">
		</div>
		<div class="col-xs-1 cycle-slideshow" data-cycle-timeout=<%= (rand(2000)+1500) %>>
			<img src="http://filtermagazine.com/images/sized/images/uploads/CutCopy-Promox200-200x200.jpg">
			<img src="http://ecx.images-amazon.com/images/I/41AvIme0qhL.jpg">
			<img src="http://www.merryswankster.com/images/asunnyday.jpg">
		</div>
		<div class="col-xs-1 cycle-slideshow" data-cycle-timeout=<%= (rand(2000)+1500) %>>
			<img src="http://medias.2kmusic.com/uploads/siteposts/post-3283-1170088307.jpg">
			<img src="http://fc03.deviantart.net/fs71/i/2012/117/c/a/nicki_minaj_beez_in_the_trap_ft_2_chainz_album_cov_by_zerjer97-d4xs0r6.jpg">
			<img src="http://media-cache-ak0.pinimg.com/736x/85/79/74/857974535ebd4855b862283bd71ac43a.jpg">
		</div>
		<div class="col-xs-1 cycle-slideshow" data-cycle-timeout=<%= (rand(2000)+1500) %>>
			<img src="http://upload.wikimedia.org/wikipedia/en/thumb/6/65/SmithsSoundOf.jpg/220px-SmithsSoundOf.jpg">
			<img src="http://sintonizando.com/wp-content/2007/09/interpol-mammoth.jpg">
			<img src="http://upload.wikimedia.org/wikipedia/en/thumb/1/1e/JohnnyCashOldGoldenThroat.jpg/220px-JohnnyCashOldGoldenThroat.jpg">
		</div>
		<div class="col-xs-1 cycle-slideshow" data-cycle-timeout=<%= (rand(2000)+1500) %>>
			<img src="http://upload.wikimedia.org/wikipedia/en/f/f8/Nena_-_It's_All_In_The_Game_-_Cover.jpg">
			<img src="http://doyoonkim.com/wp-content/uploads/2011/08/amyWinehouseLive.jpg">
			<img src="http://upload.wikimedia.org/wikipedia/en/d/d0/I-need-you-song-by-marc-anthony.jpg">
		</div>
	</div>
</div>



<!-- ////////// ROW 5 ////////// -->
<div class="container all-tiles">
	<div class="row">
		<div class="col-xs-1 cycle-slideshow" data-cycle-timeout=<%= (rand(2000)+1500) %>>
			<img src="http://upload.wikimedia.org/wikipedia/pt/3/37/Beyonc%C3%A9_-_Irreplaceable.jpg">
			<img src="http://images.wolfgangsvault.com/the-rolling-stones/framed-album-cover/memorabilia/FVL0030-LP.jpg">
			<img src="http://www.nkfu.com/wp-content/uploads/2012/05/shakira_addicted_to_you.jpg">
		</div>
		<div class="col-xs-1 cycle-slideshow" data-cycle-timeout=<%= (rand(2000)+1500) %>>
			<img src="http://www.similarsong.com/sites/similarsong.com/files/Rolling_stones_-_hot_rocks.jpg">
			<img src="http://3.bp.blogspot.com/_IeGWv7DYq34/SK9sET14RcI/AAAAAAAAB2o/P2DwgyN_xoo/S1600-R/%255BAllCDCovers%255D_electronic_get_the_message_2006_retail_cd-front.jpg">
			<img src="http://cdn4.pitchfork.com/news/42572/9af2c772.jpg">
		</div>
		<div class="col-xs-1 cycle-slideshow" data-cycle-timeout=<%= (rand(2000)+1500) %>>
			<img src="http://ecx.images-amazon.com/images/I/51PaL50ZXaL.jpg">
			<img src="http://images.uulyrics.com/cover/e/electronic/album-electronic.jpg">
			<img src="http://img.maniadb.com/images/album_t/260/124/124556_1_f.jpg">
		</div>
		<div class="col-xs-1 cycle-slideshow" data-cycle-timeout=<%= (rand(2000)+1500) %>>
			<img src="http://www.vitaminthick.com/blog/wp-content/uploads/2009/10/blueprint2.jpg">
			<img src="http://upload.wikimedia.org/wikipedia/en/thumb/4/4f/The_Charlatans_You%27re_So_Pretty_We%27re_So_Pretty_Single_Cover.JPG/220px-The_Charlatans_You%27re_So_Pretty_We%27re_So_Pretty_Single_Cover.JPG">
			<img src="http://bigpondmusic.com/images/AlbumCoverArt/429/XXL/Super-Hits120.jpg">
		</div>
		<div class="col-xs-1 cycle-slideshow" data-cycle-timeout=<%= (rand(2000)+1500) %>>
			<img src="http://2.bp.blogspot.com/-GP43YnSex58/UyIQRASrI4I/AAAAAAAABRM/yVmM_QCLE4Y/s400/Shakira+-+Shakira.jpg">
			<img src="http://4.bp.blogspot.com/-g-2LgFwrEk4/TZtyF2GlIUI/AAAAAAAAAAM/ruSn979Ubdg/s1600/JoyDivision-BestOf.jpg">
			<img src="http://files.doobybrain.com/wp-content/uploads/2011/07/MUTEMATH-odd-soul.jpg">
		</div>
		<div class="col-xs-1 cycle-slideshow" data-cycle-timeout=<%= (rand(2000)+1500) %>>
			<img src="http://ecx.images-amazon.com/images/I/41HM81TAQYL.jpg">
			<img src="http://www.dustygroove.com/images/products/j/jayz~~~~~~~_vol2hardk_101b.jpg">
			<img src="http://media-cache-ec0.pinimg.com/736x/8a/d0/e1/8ad0e134e67b724f25c753e60ccb6ec2.jpg">
		</div>
		<div class="col-xs-1 cycle-slideshow" data-cycle-timeout=<%= (rand(2000)+1500) %>>
			<img src="http://metalnallensdagens.files.wordpress.com/2009/11/jeff-buckley-hallelujah1.jpg">
			<img src="http://ecx.images-amazon.com/images/I/41ACNEKZCYL.jpg">
			<img src="http://i.telegraph.co.uk/multimedia/archive/01816/yes_1816118i.jpg">
		</div>
		<div class="col-xs-1 cycle-slideshow" data-cycle-timeout=<%= (rand(2000)+1500) %>>
			<img src="http://www.music-graffiti.com/images-miles/img_miles-davis-milestones.jpg">
			<img src="http://media-cache-ak0.pinimg.com/736x/de/47/07/de4707d0a8ca87f8f440ffde467f444c.jpg">
			<img src="http://media-cache-ec0.pinimg.com/736x/ae/86/f4/ae86f4ba8a503dc85214faf943b1c85a.jpg">
		</div>
		<div class="col-xs-1 cycle-slideshow" data-cycle-timeout=<%= (rand(2000)+1500) %>>
			<img src="http://www.amiright.com/album-covers/images/album-Miles-Davis-The-Essential-Miles-Davis.jpg">
			<img src="http://images.amazon.com/images/P/B000002LCK.01._SCLZZZZZZZ_V1115535966_.jpg">
			<img src="http://www.amiright.com/album-covers/images/album-New-Order-Movement.jpg">
		</div>
		<div class="col-xs-1 cycle-slideshow" data-cycle-timeout=<%= (rand(2000)+1500) %>>
			<img src="http://a2.mzstatic.com/us/r30/Features/83/71/b9/dj.wpsulcoa.600x600-75.jpg">
			<img src="http://cps-static.rovicorp.com/3/JPG_400/MI0002/093/MI0002093476.jpg?partner=allrovi.com">
			<img src="http://ecx.images-amazon.com/images/I/51I4ASx5rHL.jpg">
		</div>
		<div class="col-xs-1 cycle-slideshow" data-cycle-timeout=<%= (rand(2000)+1500) %>>
			<img src="http://3.bp.blogspot.com/-YN92EV5McBQ/UIbOWwabuPI/AAAAAAAA_aY/82rdmgONnio/s1600/WILLIE+NELSON+LP+38.jpg">
			<img src="http://ecx.images-amazon.com/images/I/41gVMgapuHL.jpg">
			<img src="http://upload.wikimedia.org/wikipedia/en/thumb/4/46/Jeff_Buckley_-_Eternal_Life.jpg/220px-Jeff_Buckley_-_Eternal_Life.jpg">
		</div>
		<div class="col-xs-1 cycle-slideshow" data-cycle-timeout=<%= (rand(2000)+1500) %>>
			<img src="http://3.bp.blogspot.com/_f2TBwUOsxC4/Sp7CQ6YnWsI/AAAAAAAAANQ/TmMdGfty7eY/s400/jay-z-alicia-keys-empire-state.jpg">
			<img src="http://c3.cduniverse.ws/resized/250x500/music/842/5470842.jpg">
			<img src="http://ecx.images-amazon.com/images/I/51qIOgE4SFL.jpg">
		</div>
	</div>
</div>








