
<img src="<%= @artist_image %>">

<img src="<%= @album_image %>">

<div id="results">
	<div>
		<img src="<%= @album_image %>" data-album-id="<%= @album_id %>" class="cover">
	</div>
<div>
<%= @last_fm_artist_bio.html_safe %>
</div>




