

<div class="container">
	<div class="row">
		<nav class="col-xs-12 navbar-inverse margin-inverse" role="navigation">
			<div class="container">
				<%= render partial: current_user ? "/shared/artist_user_nav" : "/shared/artist_nonuser_nav" %>
			</div>
		</div>
	</div>
</div>



<div class="container">
	<div class="row panel album-images">
	<h4 class="h4-margin">Click to Preview</h4>
	<% @albums_sorted_unique.each do |album| %>
		<div class="col-xs-1">
			<img src="<%= album[:album_image] %>" class="img-responsive cover" alt="responsive image" data-album-id="<%= album[:album_id] %>">
		</div>
	<% end %>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col xs-12 margin-rows"><p>&nbsp;</p>
		</div>
	</div>
</div>

<div class="container">
	<div class="row panel">
		<div class="col-xs-7">
			<div class="row">
				<div class="col-xs-12">
					<div class="artist-name">
						<h1 id="artist-name"><%= @artist_name %></h1>
					</div>
					<div class="artist-like-button">
						<% if current_user %>
						<button type="button" id="<%= current_user.id %>" class="btn btn-default">Like Artist</button>
						<% end %>
					</div>
				</div>
			</div>
			<div class="artist-bio">
				<%= @last_fm_artist_bio.html_safe %>
			</div>
		</div>
		<div class="col-xs-1"></div>
		<div class="col-xs-4">
			<img src="<%= @artist_image %>" id="artist-image" class="img-responsive artist-image" alt="responsive image">
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col xs-12 margin-rows"><p>&nbsp;</p>
		</div>
	</div>
</div>

<div class="container">
	<div class="row panel">
		<div class="col-xs-4">
			<div class="embed-responsive embed-responsive-4by3">
				<%if @video_0 != nil%>
				<iframe class="embed-responsive-item" id="ytplayer" type="text/html" src="//www.youtube.com/embed/<%= @video_0 %>"></iframe>
				<% end %>
				<%if @video_0 = nil && @video_1 = nil && @video_2 = nil %>
				<p>No Vevo videos are available for this artist</p>
				<% end %>
			</div>
		</div>
		<div class="col-xs-4">
			<div class="embed-responsive embed-responsive-4by3">
				<%if @video_1 != nil%>
				<iframe class="embed-responsive-item" id="ytplayer" type="text/html" src="//www.youtube.com/embed/<%= @video_1 %>"></iframe>
				<% end %>
			</div>
		</div>
		<div class="col-xs-4">
			<div class="embed-responsive embed-responsive-4by3">
				<% if @video_2 != nil%>
				<iframe class="embed-responsive-item" id="ytplayer" type="text/html" src="//www.youtube.com/embed/<%= @video_2 %>"></iframe>
				<% end %>
			</div>
		</div>
	</div>
</div>


<!-- Add Twitter Here -->






<% @reddit_results.each do |link| %>
<div class="reddit clearfix">
	<div class="reddit-ups">
		<div class="arrow-up"></div>
		<div class="arrow-up-box"></div>
		<p><%= link[:ups] %></p>
		<div class="arrow-down-box"></div>
		<div class="arrow-down"></div>
	</div>
	<div class="reddit-thumbnail">
		<% if link[:thumbnailurl] == "" || link[:thumbnailurl] == "nsfw" || link[:thumbnailurl] == "self" %>
		<img src="/assets/reddit_img.png" class="reddit-thumbnail-img">
		<% else %>
		<img src="<%= link[:thumbnailurl] %>" class="reddit-thumbnail-img">
		<% end %>
	</div>
	<div class="reddit-text clearfix">
		<p class="reddit-title">
			<a href="<%= link[:permalink] %>"><%= link[:title] %></a>
		</p>
		<p class="reddit-author">submitted at <%= link[:created_utc] %> by <%= link[:author] %></p>
		<p class="reddit-comments"><%= link[:num_comments] %> comments</p>
	</div>
</div>
<% end %>

