
<div class="container">
	<div class="row panel album-images">
		<div class="col-xs-1">
			<img src="<%= @album_image_0 %>" class="img-responsive cover" alt="responsive image" data-album-id="<%= @album_id_0 %>">
		</div>
		<div class="col-xs-1">
			<img src="<%= @album_image_1 %>" class="img-responsive cover" alt="responsive image" data-album-id="<%= @album_id_1 %>">
		</div>
		<div class="col-xs-1">
			<img src="<%= @album_image_2 %>" class="img-responsive cover" alt="responsive image" data-album-id="<%= @album_id_2 %>">
		</div>
		<div class="col-xs-1">
			<img src="<%= @album_image_3 %>" class="img-responsive cover" alt="responsive image" data-album-id="<%= @album_id_3 %>">
		</div>
		<div class="col-xs-1">
			<img src="<%= @album_image_4 %>" class="img-responsive cover" alt="responsive image" data-album-id="<%= @album_id_4 %>">
		</div>
		<div class="col-xs-1">
			<img src="<%= @album_image_5 %>" class="img-responsive cover" alt="responsive image" data-album-id="<%= @album_id_5 %>">
		</div>
		<div class="col-xs-1">
			<img src="<%= @album_image_6 %>" class="img-responsive cover" alt="responsive image" data-album-id="<%= @album_id_6 %>">
		</div>
		<div class="col-xs-1">
			<img src="<%= @album_image_7 %>" class="img-responsive cover" alt="responsive image" data-album-id="<%= @album_id_7 %>">
		</div>
		<div class="col-xs-1">
			<img src="<%= @album_image_8 %>" class="img-responsive cover" alt="responsive image" data-album-id="<%= @album_id_8 %>">
		</div>
		<div class="col-xs-1">
			<img src="<%= @album_image_9 %>" class="img-responsive cover" alt="responsive image" data-album-id="<%= @album_id_9 %>">
		</div>
		<div class="col-xs-1">
			<img src="<%= @album_image_10 %>" class="img-responsive cover" alt="responsive image" data-album-id="<%= @album_id_10 %>">
		</div>
		<div class="col-xs-1">
			<img src="<%= @album_image_11 %>" class="img-responsive cover" alt="responsive image" data-album-id="<%= @album_id_11 %>">
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col xs-12 margin-rows"><p>&nbsp;</p>
		</div>
	</div>
</div>

<div class="container">
	<div class="row panel">
		<div class="col-xs-7">
			<div>
				<h1><%= @artist_name %></h1>
			</div>
			<div>
				<%= @last_fm_artist_bio.html_safe %>
			</div>
		</div>
		<div class="col-xs-1"></div>
		<div class="col-xs-4">
			<img src="<%= @artist_image %>" class="img-responsive artist-image" alt="responsive image">
		</div>

	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col xs-12 margin-rows"><p>&nbsp;</p>
		</div>
	</div>
</div>

<div class="container">
	<div class="row panel">
		<div class="col-xs-4">
			<div class="embed-responsive embed-responsive-4by3">
				<iframe class="embed-responsive-item" id="ytplayer" type="text/html" src="//www.youtube.com/embed/<%= @video_0 %>"></iframe>
			</div>
		</div>
		<div class="col-xs-4">
			<div class="embed-responsive embed-responsive-4by3">
				<iframe class="embed-responsive-item" id="ytplayer" type="text/html" src="//www.youtube.com/embed/<%= @video_1 %>"></iframe>
			</div>
		</div>
		<div class="col-xs-4">
			<div class="embed-responsive embed-responsive-4by3">
				<iframe class="embed-responsive-item" id="ytplayer" type="text/html" src="//www.youtube.com/embed/<%= @video_2 %>"></iframe>
			</div>
		</div>
	</div>
</div>


<div class="tweets-container">
    <% @twitter_results.each do |tweet| %>
        <blockquote class="twitter-tweet">

        <div class="tweet-img-left">
            <img src="<%= tweet[:user_image] %>" alt="<%= tweet[:user] %>" class="tweet-image">
        </div>

        <div class="tweet-text-right">
            <strong class="tweet-user"><%= tweet[:user] %></strong>
            <span class="user-screen-name">@<%= tweet[:screen_name] %></span>
            <span>&#8226;</span>
            <span class="user-screen-name"><%= time_ago_in_words(tweet[:created_at]) %> ago</span>
            </br>
            <p><%= tweet[:text] %></p>
        </div>


        </blockquote>
    <% end %>
</div>















