<!DOCTYPE html>
<html>
<head>
	<title>DiscOvery</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<nav class="navbar-inverse margin-inverse" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<a href="#" class="navbar-brand">MusicMap</a>
					<form role="form" action="/artist" method="get" class="navbar-form navbar-left" role="form" action="/artist" method="get">
						<input type="text" class="form-control col-lg-8" name="query" placeholder="Search">
					</form>
				</div>
			<!-- User Login Nav -->
				<%= render partial: current_user ? "/shared/user_nav" : "/shared/non_user_nav" %>
			</div>
		</nav>
	</div>
	<%= yield %>
</body>
</html>
